
.form-signin{
    padding: 10% 10%;
    margin: 20px;
}

.set{
    width: 100%;
}

.stickleft{
    position: absolute;
    left: 0px;
}

.stickright{
    position: absolute;
    right: 0px;
}
