
.form-signin{
    padding: 20% 10%;
}

.set{
    width: 50px;
    height: 200px;
}

.stickleft{
    position: absolute;
    left: 0px;
}

.stickright{
    position: absolute;
    right: 0px;
}
