
.form-signin{
    padding: 10% 10%;
    margin: 50px;
}


.set{
    width: 50px;
    height: 200px;
}

.stickleft{
    position: absolute;
    left: 0px;
}

.stickright{
    position: absolute;
    right: 0px;
}
